ol {
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 2px 3px 2px 3px;
}
    
li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    width: 175px;
    height: 30px;
    text-decoration: none;
    color: #004369;
    background-color: #E5DDC8;
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 2px solid #004369;
    border-radius: 5px;
    box-shadow: 3px 2px 3px gray;
}
    
li a:hover {
    color: #E5DDC8;
    background: #004369;
    border: 1px solid #E5DDC8;
}